In [17]:
# If the result is 1 so the number is odd
23 % 2

1

In [18]:
# If the result is 0 so the number is even
20 % 2

0

In [19]:
2**2

4

In [20]:
8 // 4

2

In [21]:
# pe ulot heshbon
2 + 10 * 10 + 3

105

In [3]:
mystring = 'Hello World'

In [39]:
#Indexing example
mystring[0:4]

'Hell'

In [5]:
#"Indexing" Jumps
mystring[::2]
#(Jumps of 2)

'HloWrd'

In [7]:
#Reversing the string (IMPORTANT)
mystring[::-1]

'dlroW olleH'

In [8]:
tinker = 'tinker'
tinker[1:4]

'ink'

In [9]:
x = "Hello World"

In [10]:
#WILL NOT EFFECT THE STRING!
x.upper()

'HELLO WORLD'

In [11]:
#WILL NOT EFFECT THE STRING!
x.lower()

'hello world'

In [12]:
print(x)

Hello World

In [13]:
#WILL EFFECT THE STRING!
x = x.upper()

In [14]:
print(x)

HELLO WORLD

In [41]:
x.split()

['HELLO', 'WORLD']

In [16]:
y = 'This is a string'

In [17]:
y.split()

['This', 'is', 'a', 'string']

In [18]:
y.split('i')

['Th', 's ', 's a str', 'ng']

# Formatting with the .format() method!

In [19]:
Balance = 100.22

In [42]:
print('Your Bank balance is ${}'.format(Balance))

Your Bank balance is $100.22

In [21]:
print('This {} a {} of the {}'.format('is','test','format method'))

This is a test of the format method

In [22]:
print('Testing {1} with the {0} {2}'.format('.format','indexing','method'), end="")
print("!")

Testing indexing with the .format method!

In [23]:
print('The {q} {b} {f}'.format(f='fox',q='quick',b = 'brown'))

The quick brown fox

In [24]:
name = "Mike"
age = "6"

In [25]:
print(f'Hi, My name is {name}')

Hi, My name is Mike

In [26]:
print(f"Hi! My name is {name} and I'm {age}")

Hi! My name is Mike and I'm 6

In [27]:
#Dictionary (dict) Pretty much self explained 
family_nicks = {'dad':'yaniv','mom':'ayelet','brother':'daniel','names that i like':['Mike','jhorje xD'],'lookup':{'one hour':200,'half a day':500,'full day':950}}

In [44]:
family_nicks['brother']

'daniel'

In [29]:
family_nicks['lookup']['one hour']

200

In [30]:
family_nicks['names that i like'][0].upper()

'MIKE'

In [31]:
family_nicks['names that i like'][1] = 'MC Abraham'

In [32]:
family_nicks['names that i like'][1]

'MC Abraham'

In [33]:
family_nicks.values()

dict_values(['yaniv', 'ayelet', 'daniel', ['Mike', 'MC Abraham'], {'one hour': 200, 'half a day': 500, 'full day': 950}])

In [37]:
# Now Tuples! (tuple) (TUPLES ARE IMMUTABLE!)
t = (1,1,2,3,'a','hello',3.14)
t

(1, 1, 2, 3, 'a', 'hello', 3.14)

In [45]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [49]:
#counting how many ____
t.count('a')

1

In [47]:
t.count(1)

2

In [ ]:
# {tuple_name}.index({letter/number}) brings the first index the that the number/letter is showed
t.index('a')

In [36]:
t[4]

'a'

# Sets

In [50]:
myset = set()

In [51]:
myset

set()

In [52]:
myset.add(1)

In [53]:
myset

{1}

In [58]:
myset.add(2)

In [59]:
myset

{1, 2}

In [60]:
myset.add(2)

In [61]:
myset

{1, 2}

In [62]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,3,4]

In [64]:
myset = set(mylist)

In [65]:
myset

{1, 2, 3, 4}

In [66]:
myset = set('Mississippi')

In [71]:
myset

{'M', 'i', 'p', 's'}

# ______________________________________________________

In [78]:
True

True

In [79]:
False

False

In [80]:
type(True)

bool

In [81]:
type(False)

bool

In [82]:
1 < 2

True

In [83]:
1 > 2

False

In [88]:
1 == 1

True

In [89]:
1 == 2

False

In [90]:
b = None

In [91]:
b

In [103]:
myfile = open('test.txt')

In [99]:
myfile = open('nibberdibber.txt')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-99-41daa05b4751>, line 1)

In [105]:
myfile = open('test.txt')

In [106]:
myfile.read()

'test nibber\n12 \n3.13\nsdasd'

In [107]:
pwd

'C:\\Users\\user'

In [108]:
myfile.read()

''

In [135]:
myfile.seek(0)

0

In [110]:
myfile.read()

'test nibber\n12 \n3.13\nsdasd'

In [125]:
anyname = myfile.read()

In [139]:
''' (\n = Enter = 
)
'''
anyname

'test nibber\n12 \n3.13\nsdasd'

In [138]:
myfile.readlines()

['test nibber\n', '12 \n', '3.13\n', 'sdasd']

In [141]:
myfile = open('C:\\Users\\user\\.atom\\.gitignore')

In [142]:
myfile.readlines()

['blob-store\n',
 'compile-cache\n',
 'dev\n',
 'storage\n',
 '.apm\n',
 '.node-gyp\n',
 '.npm\n']

In [143]:
myfile.close()

In [145]:
with open('test.txt') as text_test:
    anyname = text_test.read()

In [149]:
anyname

'test nibber\n12 \n3.13\nsdasd'

In [156]:
with open('test.txt', mode='a') as myfile:
    thing = myfile.read()

UnsupportedOperation: not readable

In [159]:
thing

'test nibber\n12 \n3.13\nsdasd'

In [180]:
with open('mynewfile.txt', mode="r") as mynewfile:
    print(mynewfile.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [179]:
with open('mynewfile.txt', mode="a") as mynewfile:
    mynewfile.write('\nFOUR ON FOURTH')

In [183]:
with open('abcdefghijklmnopqrstuvwxyz.txt', mode='w') as test:
     test.write('NEW FILE!')

In [187]:
with open('abcdefghijklmnopqrstuvwxyz.txt', mode="r") as test:
    print(test.read())

NEW FILE!

In [190]:
'x' == 'd'

False

In [192]:
'd' <= 'x'

True

In [193]:
1 != 2

True

In [205]:
'B' >= 'E'

False

In [206]:
2 == '2'

False

In [209]:
2.000000000000000 == 2

True